{% load static %}
{% for category in categories %}
<tr>
    <td>{{forloop.counter0|add:categories.start_index}}</td>
    <td>{{category.title}}</td>
    <td>{{category.description}}</td>
  
    <td>
        <div class="form-check form-switch">
            <input class="form-check-input toggle-status" type="checkbox" role="switch" id="flexSwitchCheckDefault{{ category.id }}" data-id="{{ category.id }}" {% if category.is_active %}checked{% endif %}>
            <label class="form-check-label" for="flexSwitchCheckDefault{{ category.id }}">{{ category.is_active }}</label>
        </div>
    </td>
   
    <td>
        <a href="javascript:;" class="category-edit" id="category-edit" data-fancybox="" data-src="#category-popup" data-url="{% url 'web:update_category' category.id %}">
            <img src="{% static '/web/assets/images/edt_icon.svg' %}" alt="icon">
        </a>

        <a href="javascript:;" onclick="CategoryDelete({{category.id}})">
            <img src="{% static '/web/assets/images/dlt_icon.svg' %}" alt="icon">
        </a>

        <a href="javascript:;" class="category-edit" id="category-edit" data-fancybox="" data-src="#category-popup" data-url="{% url 'web:view_category' category.id %}">
            <img src="{% static '/web/assets/images/eye-svgrepo-com.svg' %}"  width="38" height="38" alt="icon">
        </a>
    </td>

<tr>
{% endfor %}
