{% load static %}
<div class="sidebar-content">
    <div class="sidebar-content-wrapper">
        <div class="logo-box">
            <h1 class="logo-full">Ecommerce</h1>
            <h1 class="logo-collapsed">E</h1>
        </div>
        <nav>
            <ul class="sidebar-link-list">
                <li class="sidebar-item active">
                    <a href="" class="sidebar-link">
                        <span class="menu-icon">
                            <img class="icon-dark" src="{% static 'web/assets/images/dashboard.svg' %}">
                            <img class="icon-white" src="{% static 'web/assets/images/dashboard-white.svg' %}">
                        </span>
                        <span class="menu-item">Dashboard</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="{% url 'web:category' %}" class="sidebar-link">
                        <span class="menu-icon">
                            <img class="icon-dark" src="{% static 'web/assets/images/dashboard.svg' %}">
                            <img class="icon-white" src="{% static 'web/assets/images/dashboard-white.svg' %}">
                        </span>
                        <span class="menu-item">Category</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a href="{% url 'web:create_product' %}" class="sidebar-link">
                        <span class="menu-icon">
                            <img class="icon-dark" src="{% static 'web/assets/images/dashboard.svg' %}">
                            <img class="icon-white" src="{% static 'web/assets/images/dashboard-white.svg' %}">
                        </span>
                        <span class="menu-item">Create Product</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a href="{% url 'web:product' %}" class="sidebar-link">
                        <span class="menu-icon">
                            <img class="icon-dark" src="{% static 'web/assets/images/dashboard.svg' %}">
                            <img class="icon-white" src="{% static 'web/assets/images/dashboard-white.svg' %}">
                        </span>
                        <span class="menu-item">Products</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a href="{% url 'web:product_image' %}" class="sidebar-link">
                        <span class="menu-icon">
                            <img class="icon-dark" src="{% static 'web/assets/images/dashboard.svg' %}">
                            <img class="icon-white" src="{% static 'web/assets/images/dashboard-white.svg' %}">
                        </span>
                        <span class="menu-item">Product Image</span>
                    </a>
                </li>
                
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link sub-link">
                        <span class="menu-icon">
                            <img class="icon-dark" src="{% static 'swift/assets/images/dashboard.svg' %}">
                            <img class="icon-white" src="{% static 'swift/assets/images/dashboard-white.svg' %}">
                        </span>
                        <span class="menu-item">Variant</span>
                        <div class="drop-arrow">
                            <span class="icon-Vector-2"></span>
                        </div>
                    </a>
                    <ul class="sub-menu">
                        <li class="submenu-list">
                            <a href="{% url 'web:product_variant' %}" class="submenu-item">Variants</a>
                        </li>
                    </ul>
                </li>
                
                {% comment %} <li class="sidebar-item">
                    <a href="" class="sidebar-link">
                        <span class="menu-icon">
                            <img class="icon-dark" src="{% static 'web/assets/images/dashboard.svg' %}">
                            <img class="icon-white" src="{% static 'web/assets/images/dashboard-white.svg' %}">
                        </span>
                        <span class="menu-item">Logout</span>
                    </a>
                </li> {% endcomment %}
            </ul>
        </nav>
        </div>
    </div>