<div class="formbg-inner">
    <div class="edit-product-form">
        {% if id %}
            <input type="hidden" value="{% url 'web:update_product' id %}" id="form_url" name="form_url">
        {% else %}
            <input type="hidden" value="{% url 'web:create_product' %}" id="form_url" name="form_url">
        {% endif %} 
        <div class="field padding-bottom--24">
            <label for="name">Category</label> {{ form.category }}
            <p class="text-danger mt-2 mb-0">{{ form.category.errors.as_text  }}</p>
        </div>           
        <div class="field padding-bottom--24">
            <label for="name">Name</label> {{ form.name }}
            <p class="text-danger mt-2 mb-0">{{ form.name.errors.as_text  }}</p>
        </div>
        <div class="field padding-bottom--24">
            <label for="name">Description</label> {{ form.description }}
            <p class="text-danger mt-2 mb-0">{{ form.description.errors.as_text  }}</p>
        </div>
        <div class="field padding-bottom--24">
            <label for="name">Price</label> {{ form.price }}
            <p class="text-danger mt-2 mb-0">{{ form.price.errors.as_text  }}</p>
        </div>
        <div class="field padding-bottom--24">
            <label for="name">Keywords</label> {{ form.keyword }}
            <p class="text-danger mt-2 mb-0">{{ form.keyword.errors.as_text  }}</p>
        </div>
        <div class="field padding-bottom--24">
            <input class="product-submit" id="product-submit" type="submit" name="submit" value="Save">
        </div>
    </div>
</div>