{% extends "web/layout/user_base.html" %}
{% load static %}
{% block body_block %}
<div class="content-inner full-screen">
    <div class="page-block">

        <form method="get" action="{% url 'web:search' %}">
            <input type="text" name="search" placeholder="Search products">
            <button type="submit">Search</button>
        </form>


        {% if products %}
        <h2>Search Results:</h2>
        <ul>
            {% for product in products %}
                <li>
                    <h3>{{ product.name }}</h3>
                    <p>{{ product.description }}</p>
                    <p>Price: {{ product.price }}</p>
                </li>
            {% endfor %}
        </ul>
        {% else %}
            <p>No products found.</p>
        {% endif %}
        
    </div>
</div>
{% endblock body_block %}

{% block page_script %}
{% endblock page_script %}