<div id="additional-fields">

    <div class="field padding-bottom--24 place-holder-wrapper">
        <label for="name">Place Holder</label> 
        <input type="text" name="place_holder" id="id_place_holder" autocomplete="off">
        <p class="text-danger mt-2 mb-0">Error message for place holder</p>
    </div>
    
    <div class="field padding-bottom--24 description-wrapper">
        <label for="name">Description</label> 
        <textarea name="description" id="id_description"></textarea>
        <p class="text-danger mt-2 mb-0">Error message for description</p>
    </div>
    
    <!-- Add more fields here as needed -->

</div>